[2018-10-27 07:55] kapoorlakshya opened #1 "Not setting the logging level through #new raises "invalid log level: (ArgumentError)""
**Error**: `invalid log level:  (ArgumentError)`

**Possible solution**: Ensure a default level is set.

[2018-10-27 08:06] kapoorlakshya opened #2 "Add Cucumber + Watir example for usage."

[2018-10-27 09:09] kapoorlakshya opened #3 "Update spec for extra_opts[:video_size] to test show_region as well."
Default it to `-s 1280x720` and allow the user to provide one.

[2018-10-27 09:10] kapoorlakshya opened #4 "Output should be limited to MKV with an option to convert to MP4."
MKV is the only container that doesn't produce an invalid file (missing headers) when ffmpeg is force killed.

[2018-10-27 09:11] kapoorlakshya opened #5 "When ffmpeg fails to start, extract last line (error) from log and print to console as the exception message."

[2018-10-27 09:13] kapoorlakshya opened #6 "Investigate why ffmpeg cuts off last few seconds of the recording in the Cucumber example."

[2018-10-27 10:38] kapoorlakshya commented on #6
Solved by not using `TASKILL` and figuring  a way with `IO.popen` to gracefully kill `ffmpeg.exe`.

[2018-10-27 10:38] #6 closed

[2018-10-27 10:40] kapoorlakshya opened #7 "#stop should extract and return last line from the log file."
#stop should log to DEBUG: `[libx264 @ 000001da3adef5c0] kb/s:234.63`.

- [ ] Add spec for this

[2018-10-27 10:41] kapoorlakshya commented on #4
Fix for #6 allows us to now record in any container.

[2018-10-27 10:41] #4 closed

[2018-10-27 10:42] kapoorlakshya commented on #3
Just learned that the `-s` or `-video_size` option sets the recording region and not the resolution for the output file.

Updating issue to remove this option.

[2018-10-27 20:48] kapoorlakshya opened #8 "Logger - Fix class in progname."

[2018-10-27 20:51] #8 closed

[2018-10-27 20:59] kapoorlakshya opened #9 "#kill_ffmpeg - Wait for IO #read to return EOF instead of hard coding sleep."
See https://ruby-doc.org/core-2.3.1/IO.html#method-i-eof-3F

[2018-10-27 21:03] kapoorlakshya opened #10 "Options - Improve logic for handling values"
Maybe it should be its own Class to handle the options/parameter parsing and sending to `ffmpeg` logic?

- [x] Update name from opts to options
- [x] Verify required options exist
- [x] Allow user to provide extra options through `:advanced` key
- [x] Add spec for advanced options

[2018-10-27 21:08] #1 closed

[2018-10-27 22:15] #9 closed

[2018-10-29 06:13] kapoorlakshya opened #11 "FFMPEG format should be automatically determined based on the OS."
Currently, the user has to provide the format, for example `gdigrab` on Windows, through the options. The gem should automatically choose one based on the operating system IF the user does not provide it.

[2018-10-29 06:19] kapoorlakshya opened #12 "Use childprocess gem to better manage the ffmpeg process."
`childprocess` gem provides methods like `#alive?` and `#exited?` which will be useful for checking the state of the process. It also provides a better way to handle the ffmpeg log file creation and force killing the processed when needed.

https://github.com/enkessler/childprocess

[2018-10-29 07:13] kapoorlakshya opened #13 "Tests - Fix bug where @recorder is not destroyed between contexts."
Update spec to initialize `@recorder` before each instead of all.

[2018-10-30 08:53] kapoorlakshya opened #14 "Change ffmpeg logging verbosity when Logger level is set to DEBUG."
Check `-loglevel` here: https://ffmpeg.org/ffmpeg.html#toc-Generic-options

[2018-11-01 05:49] #5 closed

[2018-12-04 03:55] #10 closed

[2018-12-04 03:55] kapoorlakshya commented on #11
Fixed by e3bddabbc11a2b2f912ad67afdfdb33b9e31ab62

[2018-12-04 03:55] #11 closed

[2018-12-04 05:42] #7 closed

[2018-12-04 05:55] kapoorlakshya opened #15 "Add support for audio recording"
See if audio recording can be supported through `advanced`. If not, look into implementing parameters for it.

[2018-12-04 06:11] kapoorlakshya opened #16 "Add changelog"
Example: https://github.com/watir/watir/blob/master/CHANGES.md

[2018-12-24 05:38] kapoorlakshya commented on #14
This can also be controlled independently through the `advanced` parameter. Example:

[code]

[2018-12-30 08:04] kapoorlakshya opened #17 "Run specs on Travis when commits are push to master."
- [x] Setup Travis CI account
- [x] Create job for repository, trigger on every push to master
- [ ] Use Ubuntu `dist: xenial` to get ffmpeg from official repo instead of adding a `ppa`
- [x] Run on Ruby 2.3.x
- [x] Run on Ruby 2.4.x
- [x] Run on Ruby 2.5.x
- [x] Run on Ruby 2.6.x
- [x] Add build status badge to README

[2018-12-30 10:45] #16 closed

[2019-01-03 06:57] kapoorlakshya opened #18 "Check for and kill existing ffmpeg processes before starting a new recording."

[2019-01-03 07:50] kapoorlakshya opened #19 "Research conversion to GIF feature"
https://medium.com/@colten_jackson/screen-capture-with-ffmpeg-in-windows-10-3bdb828d176b

[2019-01-11 05:58] kapoorlakshya opened #20 "Research adding hooks in Watir::Browser to get window title and automatically start at browser launch."
[code]

use `browser` object to interact with `Watir::Browser` interface.

[2019-01-11 05:59] kapoorlakshya opened #21 "Add GIF of gem at work in README."

[2019-01-11 06:02] kapoorlakshya opened #22 "Add ScreenRecorder#delete to delete video file."
This can be helpful when the user wants to discard the recording for successful/passing test cases.

[2019-01-11 06:10] kapoorlakshya opened #23 "Document video_size option for capture resolution."

[2019-01-14 01:14] kapoorlakshya opened #24 "#ffmpeg_exists? does not check for user given path."
Fix is to use `@ffmpeg_binary` from `streamio` gem instead of directly using `fmpeg`.

**Update**: The gem actually does use `@ffmpeg_binary` and that logic is fine. The problem is with `#ffmpeg_exists?` in `#start_ffmpeg` which does only looks for the binary in ENV. It does not check to see if `@ffmpeg_binary` has a path to it.

The fix will actually be to first check ENV and then check if `@ffmp

[2019-01-20 09:00] kapoorlakshya commented on #3
This is no longer a valid test case. No straight forward way for us to verify if ffmpeg actually shows the region or not.

[2019-01-20 09:00] #3 closed

[2019-01-20 09:02] kapoorlakshya opened #25 "Break down spec by class"
All tests are currently grouped under the `ScreenRecorder` spec. They should be grouped by the class/object they test instead.

[2019-01-20 09:03] kapoorlakshya commented on #22
And add `discard` as a method alias.

[2019-01-22 06:40] kapoorlakshya commented on #25
Closed by f5f1e62b0302370bdde43e73aa702756182d3387.

[2019-01-22 06:40] #25 closed

[2019-01-22 07:02] #24 closed

[2019-01-22 18:58] kapoorlakshya opened #26 "Default framerate to 15 and make this param optional"
Make `framerate` an optional parameter and default it to 15.

[2019-01-22 19:00] kapoorlakshya commented on #21
Added a sample capture video in the blog post instead: https://kapoorlakshya.github.io/introducing-ffmpeg-screenrecorder

GFM does not support embedding videos and a GIF @ 720p will be slow to load.

[2019-01-22 19:00] #21 closed

[2019-01-22 19:02] kapoorlakshya commented on #2
Example repo is now available - https://github.com/kapoorlakshya/cucumber-watir-test-recorder-example

[2019-01-22 19:02] #2 closed

[2019-01-23 05:01] kapoorlakshya opened #27 "Document trick to capture from a specific monitor in a multi-monitor setup"
https://stackoverflow.com/questions/36986037/screen-capture-recorder-to-record-2nd-monitor-ffmpeg-win-7

https://crunchbang.org/forums/viewtopic.php?id=38656

[2019-01-23 05:38] kapoorlakshya opened #28 "Rename RecordingRegions module to WindowTitles, so the name is true to the function it provides."

[2019-01-23 05:40] #28 closed

[2019-01-23 06:32] kapoorlakshya opened #29 "Add Issue template"
https://github.com/stevemao/github-issue-templates

[2019-01-23 06:47] #22 closed

[2019-01-26 00:04] kapoorlakshya opened #31 "Support recording from headless mode"
http://afterdesign.net/2016/02/07/recording-headless-selenium-tests-to-mp4.html
https://gist.github.com/addyosmani/5336747

[2019-01-26 00:11] kapoorlakshya opened #32 "Create new namespace instead of using/polluting FFMPEG from streamio gem"
Consider `ScreenRecorder::` or something similar instead of using `FFMPEG` as the top-level namespace. Probably a good idea to not pollute streamio's namespace.

Renaming the project (gem) is not required. Will keep ffmpeg in the name so people know that it's FFmpeg based.

[2019-01-26 00:16] kapoorlakshya opened #33 "Look into adding an option to record to RAM first and then to disk if the test fails."
This is an alternate approach to recording to disk and then calling `#discard` when the test passes.

[2019-02-03 14:59] Rajagopalan-M opened #34 "Even after successful record it's throwing the error"
Hi, My recording is successfully happening for firefox. But even after the successful recording, it throws the following error

And May I know this recorder can be used for Chrome as well? I haven't gotten any success with chrome yet. If it can be done, Can you let me know how that is?

[2019-02-03 18:51] kapoorlakshya opened #35 "WindowTitles#fetch omits results if the application binary name does not match the application name."
**Examples**

calc.exe vs Calculator
chrome.exe vs SRWare Iron or iron

Fix is to remove this check:

[code]

Drawback is that the returned list will now have Windows OLE related window names, such as `OleMainThreadWndName` and `nsAppShell:EventWindow`. This will require an update to the README to inform the users of this change in behavior.

Also, need to update the filtering on `N/A` and blank w

[2019-02-03 19:18] kapoorlakshya commented on #34
Hi @Rajagopalan-M, thanks for reporting this. I'll need some more details to properly troubleshoot this. Can you please share the following information?

- Operating System
- `opts` Hash used for the recorder
- ffmpeg log file as a gist or on pastebin
- Re-run the recorder with `log_level: Logger::DEBUG` and share the console output

The recorder should work with almost all applications. You can r

[2019-02-03 19:24] kapoorlakshya opened #36 "Inform users that WindowTitles#fetch will not always return the displayed window tile for Microsoft Windows native applications."
On Microsoft Windows, title for `calc.exe` is Calculator in the GUI, but `#fetch` returns `CicMarshalWnd` based on the information in the Task Manager.

In these cases, the user will have to manually provide the window title or use a third-party tool like [WinLister](https://www.nirsoft.net/utils/winlister.html).

[2019-02-03 20:58] #35 closed

[2019-02-03 21:03] kapoorlakshya opened #37 "WindowTitles#fetch - Allow user to enable strict match of process name"
`WindowTitles.fetch 'chrome', strict: true` or `filter: true`

[2019-02-05 09:04] kapoorlakshya opened #38 "#fetch - ArgumentError (invalid byte sequence in UTF-8)"
**Steps to reproduce**:

1. Open issue [35](https://github.com/kapoorlakshya/ffmpeg-screenrecorder/issues/35) in Chrome
2. `FFMPEG::WindowTitles.fetch 'chrome'`

This will raise `ArgumentError (invalid byte sequence in UTF-8)`. We could perform `encode('UTF-8')` ([source](https://thoughtbot.com/blog/fight-back-utf-8-invalid-byte-sequences)) on the retrieved title, but I am not sure if `ffmpeg` wan

[2019-02-06 06:12] kapoorlakshya commented on #14
I have decided to keep the log levels for the gem and ffmpeg separate. Users can configure both levels individually in the `opts` Hash.

[2019-02-06 06:12] #14 closed

[2019-02-06 06:37] kapoorlakshya commented on #27
https://github.com/kapoorlakshya/ffmpeg-screenrecorder/wiki/Multi-monitor-Capture

[2019-02-06 06:37] #27 closed

[2019-02-06 09:00] kapoorlakshya commented on #31
https://github.com/kapoorlakshya/ffmpeg-screenrecorder/wiki/xvfb-Capture

[2019-02-07 05:27] #17 closed

[2019-02-07 05:34] kapoorlakshya commented on #31
This is already supported by `ffmpeg`. Documented this in the wiki.

[2019-02-07 05:34] #31 closed

[2019-02-07 05:35] kapoorlakshya commented on #23
This apparently doesn't do what I thought it did. This sets the recording region and not the resolution. This is documented in README - https://github.com/kapoorlakshya/ffmpeg-screenrecorder#options

[2019-02-07 05:35] #23 closed

[2019-02-08 06:43] #26 closed

[2019-02-08 08:26] kapoorlakshya commented on #34
@Rajagopalan-M Are you still getting the error?

[2019-02-08 20:02] Rajagopalan-M commented on #34
@kapoorlakshya

Hi, Yes, but I am rescued this way so it's not showing up.

[2019-02-08 20:03] Rajagopalan-M commented on #34
Give me some time, I will get back to this.

Please refer my previous message as well.

[2019-02-09 06:13] kapoorlakshya commented on #34
Hi @Rajagopalan-M, I am glad you are able to make it work by rescuing the error, but my concern is that the error should not be raised if the recording is successful. I am unable to reproduce it on Windows 10 or on Linux, so I am curious why you are expereincing it.

Thanks for taking out the time to give me the info. Looking forward to troubleshooting this.

[2019-02-09 06:15] Rajagopalan-M commented on #34
@kapoorlakshya  I understood. But how would I help you? Should I run with

    * Re-run the recorder with `log_level: Logger::DEBUG` and share the console output

And send the report?

[2019-02-09 06:21] kapoorlakshya commented on #34
Yes, that and the following information:

* Operating System
* `opts` Hash used to initialize the recorder
* Contents of `ffmpeg.log` file

[2019-02-09 06:39] Rajagopalan-M commented on #34
Operating System : Windows 10

Hash:
[code]
Gist of ffmpeg.log is here

https://gist.github.com/Rajagopalan-M/2e7cad1969d4fb48e3dd0060f00aab06

[2019-02-09 06:48] kapoorlakshya commented on #34
Thanks for the information. I looked at the `ffmpeg.log` and looks like FFmpeg is raising an error on lines 275-276, which is why you are seeing `FFMPEG::Error`.

[code]

Are you closing the browser before stopping the recorder? If yes, then you need to stop the recorder right before closing the browser.

[2019-02-09 06:59] Rajagopalan-M commented on #34
@kapoorlakshya

You are absolutely correct, yes, I am closing the recorder after the browser has been closed. Wait, let me rewrite the program and let you know whether it works. Thanks.

[2019-02-09 07:22] Rajagopalan-M commented on #34
@kapoorlakshya  Dude, you are right with your thinking. Yes, it's working fine now. You can close this thread.

[2019-02-09 09:14] kapoorlakshya commented on #34
@Rajagopalan-M Awesome! Glad we figured it out. There are a few more limitations when recording a window, and I have listed these in the README.

[2019-02-09 09:14] #34 closed

[2019-02-09 11:01] Rajagopalan-M opened #41 "Moving from Ruby 2.5.1 to Ruby 2.5.3 creates a new problem"
@kapoorlakshya

Hi, I have moved from Ruby 2.5.1 to Ruby 2.5.3, now it's throwing this error

FFMPEG::Error: [gdigrab @ 000002a00ad4a540] Invalid properties, aborting
 title=OleMainThreadWndName: I/O error

[code]

[2019-02-09 11:02] Rajagopalan-M commented on #34
Okay, thank you.

On Sat, 9 Feb 2019 at 14:44, Lakshya Kapoor <notifications@github.com>
wrote:

[2019-02-09 11:09] kapoorlakshya commented on #41
The problem is with`title=OleMainThreadWndName`. Make sure the title is exactly what's displayed in the UI.

#37 will address this soon.

[2019-02-10 23:45] kapoorlakshya opened #42 "Report test coverage to Code Climate"
https://docs.codeclimate.com/docs/configuring-test-coverage
https://docs.codeclimate.com/docs/travis-ci-test-coverage

[2019-02-12 07:56] Rajagopalan-M commented on #41
@kapoorlakshya  I don't know how to resolve this problem, Can you please install Ruby 2.5.3 and check whether it's running.

[2019-02-12 07:59] kapoorlakshya commented on #41
Can you share the same details that you shared earlier? Also the output from `#fetch` i.e. list of available titles.

It's not a Ruby problem, but the title name.

[2019-02-12 08:37] kapoorlakshya commented on #41
As you can see here, all major Ruby 2.x versions are supported - https://travis-ci.org/kapoorlakshya/ffmpeg-screenrecorder

[2019-02-12 09:25] Rajagopalan-M commented on #41
@kapoorlakshya

This line

`puts FFMPEG::WindowTitles.fetch('firefox').last`

is printing

`AllianzGo - Mozilla Firefox`

When I use 2.5.1 but error happens in this line when I use 2.5.3

ArgumentError: invalid byte sequence in UTF-8

  0) Scenerio9-Test1
     ?[31mFailure/Error:?[0m
     ?[31m  titles = `tasklist /v /fi "imagename eq #{application}.exe" /fo list | findstr  Window`?[0m
     ?[31m

[2019-02-12 09:39] kapoorlakshya commented on #41
HI @Rajagopalan-M , that is a different error than the first one your reported. This is a known issue and here are the workarounds - https://github.com/kapoorlakshya/ffmpeg-screenrecorder/wiki/Invalid-byte-sequence-in-UTF-8

Manually copy-pasting the title as `input: 'AllianzGo - Mozilla Firefox'` should work.

[2019-02-12 09:42] kapoorlakshya commented on #41
Another thing you could do is to start the recorder before you navigate to the website. That way the title will simply be 'Mozilla Firefox'.

[2019-02-12 09:46] Rajagopalan-M commented on #41
@kapoorlakshya

Hi, Now I have set the title this way

[code]

This is also working in 2.51 but not 2.5.3.

[2019-02-12 09:47] kapoorlakshya commented on #41
What's the error in 2.5.3?

[2019-02-12 10:03] Rajagopalan-M commented on #41
[code]

[2019-02-12 10:26] kapoorlakshya commented on #41
Are you using the exact same opts in both? `input: 'AllianzGo - Mozilla Firefox'`

[2019-02-12 10:59] Rajagopalan-M commented on #41
@kapoorlakshya I am using this
[code]

This line `FFMPEG::WindowTitles.fetch('firefox').last` is returning this value `AllianzGo - Mozilla Firefox`.

[2019-02-13 04:26] kapoorlakshya commented on #41
Use `input: 'AllianzGo - Mozilla Firefox'` instead of `input: FFMPEG::WindowTitles.fetch('firefox').last`.

`FFMPEG::WindowTitles.fetch('firefox')` is just a helper to get you the titles. For cases like this one, just copy-paste the window title for `input`.

I'll update the README to explain this.

[2019-03-03 08:48] kapoorlakshya commented on #41
@Rajagopalan-M Did you figure it out?

[2019-03-03 08:50] Rajagopalan-M commented on #41
Hi, Ruby 2.5.1 is working fine for me only with firefox, So I left it
there.

On Sun, 3 Mar, 2019, 2:18 PM Lakshya Kapoor, <notifications@github.com>
wrote:

[2019-03-03 09:28] kapoorlakshya commented on #41
Sounds good 👍

[2019-03-03 09:28] #41 closed

[2019-03-11 06:22] kapoorlakshya opened #44 "Implement screenshot capture."
[code]

`ffmpeg -f gdigrab -framerate 1 -i desktop -vframes 1 output.jpeg`

[2019-03-11 06:32] kapoorlakshya opened #45 "Rename gem to screen-recorder"
Once #32 is merged, we will no longer be using and exposing the `FFMPEG` namespace. The `ffmpeg` in the name can hence be dropped and the name can be simplified to `screen-recorder` to match the new namespace `ScreenRecorder`.

**TODO**

- [x] Create screen-recorder repo
- [x] Add a post-install message to `beta13`
- [x] Release `beta13`
- [x] Rename Github repository
- [x] Create ffmpeg-screenrec

[2019-03-12 05:55] kapoorlakshya commented on #45
Well... I just learned that `screen_recorder` is already taken 😑. The current name will stay, and I will be releasing `beta12` with the post install message removed.

[2019-03-15 05:23] kapoorlakshya commented on #45
Decided to use `screen-recorder`.

[2019-03-15 09:20] #45 closed

[2019-03-16 05:53] #32 closed

[2019-03-19 07:17] kapoorlakshya opened #54 "Add metadata in gemspec."
**Example**: https://github.com/teamcapybara/capybara/blob/master/capybara.gemspec#L21

[2019-03-19 07:19] kapoorlakshya opened #55 "Add macOS support."
**Branch**: https://github.com/kapoorlakshya/screen-recorder/tree/macos_support

- [x] Implement default input value
- [x] Run specs on Travis
- [ ] Update README and CHANGES
- [x] Release v1.1.0-pre for mac testing - sent to a user for feedback instead of releasing a `pre` version.
- [ ] Release v1.1.0

[2019-04-04 15:32] kapoorlakshya opened #56 "Run Rubocop with specs."
Run rubocop with specs.

Also use https://github.com/rubocop-hq/rubocop-performance

[2019-04-11 07:57] kapoorlakshya opened #57 "Accept ffmpeg input and output params separately."
Accept input/output params separately to appropriately place them in the parsed (final) command.

[code]

[2019-04-11 08:31] kapoorlakshya opened #58 "Support JRuby."
Support JRuby 9.x.

[2019-04-11 22:08] kapoorlakshya opened #60 "Force kill ffmpeg process when Timeout::Error occurs in #stop_ffmpeg."
Will need OS specific logic. This one works on macOS and possibly on Linux:

[code]

Could combine with #18.

[2019-04-11 22:31] #55 closed

[2019-04-12 08:41] #56 closed

[2019-04-13 01:47] #54 closed

[2019-04-14 08:04] #60 closed

[2019-04-23 03:31] #42 closed

[2019-04-23 04:17] kapoorlakshya opened #67 "Rewrite specs and improve code coverage."
- [x] Rewrite specs for each class
- [x] Improve code coverage

[2019-04-30 06:22] Rajagopalan-M opened #68 "No longer maitained?"
Is this gem ffmpeg-screenrecorder no longer been maintained? I have been working with this gem. You supported few months back?

What's the change? I can't record chrome screen so far. Can I record chrome screen if I use your new gem?

[2019-04-30 06:26] kapoorlakshya commented on #68
That gem has been renamed to screen-recorder. You should update your project to use this one to receive long term updates.

[2019-04-30 06:28] Rajagopalan-M commented on #68
@kapoorlakshya

Okay, thank you. Your gem was very very useful in my project. It perfectly records the video in firefox but it's not recording in chrome. Let's see whether I can do it this time. Thanks for such a good gem.

[2019-04-30 06:34] kapoorlakshya commented on #68
That's good to hear :)

The same code should work for both browsers. Feel free to create an Issue if you run into problems.

[2019-04-30 06:35] #68 closed

[2019-04-30 06:35] Rajagopalan-M commented on #68
Thank you. I will for sure

On Tue, 30 Apr, 2019, 12:04 PM Lakshya Kapoor, <notifications@github.com>
wrote:

[2019-04-30 09:22] Rajagopalan-M commented on #68
Hi, I don't know how to pass the option now.

this is my old coding

[code]

New coding

[code]

How to pass the option now?

[2019-04-30 15:25] kapoorlakshya commented on #68
No need to pass options now. What you have is correct.

For Chrome, just use the title from the window when it launches. Last I checked it was  'Google Chrome'.

[2019-04-30 17:41] Rajagopalan-M commented on #68
It's throwing the error. How are you finding the title? My WATIR is printing empty string for `@browser.title`

[2019-04-30 17:57] kapoorlakshya commented on #68
Use `ScreenRecorder::Titles.fetch('chrome').last` right after you launch the browser. It'll give you the window title.

[2019-04-30 18:22] Rajagopalan-M commented on #68
Hi, as you said, there is no need to pass the option now. It's great. But when It records Chrome, It records only black colour screen. I don't know why.

[2019-04-30 18:50] kapoorlakshya commented on #68
@Rajagopalan-M Please paste your code here. And the output from `ffmpeg -version`.

[2019-05-05 20:27] kapoorlakshya commented on #67
Closed by 6053a572b0551f144a5f65587f653aa90eae1c7e.

[2019-05-05 20:27] #67 closed

[2019-05-05 21:42] kapoorlakshya commented on #58
Doesn't work - https://travis-ci.org/kapoorlakshya/screen-recorder/jobs/519853057

Will consider adding support if enough users show interest.

[2019-05-06 05:07] #57 closed

[2019-05-06 05:15] kapoorlakshya commented on #18
Not sure if this is required since existing ffmpeg processes don't block new ones from starting. Closing until someone reports a problem.

[2019-05-06 05:15] #18 closed

[2019-05-07 14:04] Rajagopalan-M commented on #68
Here it is,

https://gist.github.com/Rajagopalan-M/74fbc8cc7b63ff7b69e4009642b7f044

It records only black colour screen while I run in Chrome.

[2019-05-08 04:49] kapoorlakshya commented on #68
@Rajagopalan-M I was able to reproduce it using Chrome 74 on Windows 10. Other windows like RubyMine, Firefox and Task Manager work fine, so it's something specific to Chrome/Chromium based browsers. I reproduced this on Brave as well.

Can you please create a new Issue with all the info that it asks for? It'll be easier for me to track it that way. Thank you!

[2019-05-08 04:57] Rajagopalan-M commented on #68
Ok thanks

On Wed, 8 May, 2019, 10:19 AM Lakshya Kapoor, <notifications@github.com>
wrote:

[2019-05-08 04:58] kapoorlakshya commented on #68
@Rajagopalan-M Figured it out - Disable Harware Accelration in Chrome settings:

![image](https://user-images.githubusercontent.com/4314581/57350519-36d8b580-7113-11e9-8a89-c1c945fbc74f.png)

[2019-05-08 04:59] Rajagopalan-M commented on #68
If I disable it works?

On Wed, 8 May, 2019, 10:28 AM Lakshya Kapoor, <notifications@github.com>
wrote:

[2019-05-08 05:03] kapoorlakshya commented on #68
@Rajagopalan-M Yup, I just tested it in Chrome and Brave.

I have added an entry to the wiki for this - https://github.com/kapoorlakshya/screen-recorder/wiki/Black-Screen-on-Chrome

[2019-05-08 05:09] Rajagopalan-M commented on #68
Great

On Wed, 8 May, 2019, 10:33 AM Lakshya Kapoor, <notifications@github.com>
wrote:

[2019-05-08 06:39] Rajagopalan-M commented on #68
@kapoorlakshya  It works like a charm. Amazing , Amazing! Amazing! Thanks a lot.

[2019-05-08 09:04] #12 closed

[2019-05-11 12:57] Rajagopalan-M opened #73 "Capture the second window"
I am using two monitor, One monitor my RubyMine would be opened and in my another monitor, Browser opens and runs on it. If I use desktop recorder, then it records both the monitor together, Can I have any way to record the second monitor only? I ask this because when I recorder firefox or chrome, it records only the first window, the second window if opens as a result of the click is not captured

[2019-05-12 03:37] kapoorlakshya commented on #73
Check out the [wiki](https://github.com/kapoorlakshya/screen-recorder/wiki/Multi-monitor-Capture) for this.

Can you open the link in a new tab (same window frame) instead of a separate window? If not then capturing the Desktop for this particular case might be a better option.

[2019-05-12 07:10] Rajagopalan-M commented on #73
That's great! Thanks. Tomorrow, I will check it out and let you know.

[2019-05-21 06:59] #73 closed

[2019-05-21 07:00] kapoorlakshya commented on #73
Feel free to reopen this if you run into any problems.

[2019-05-21 07:01] Rajagopalan-M commented on #73
Hi, sorry could not reply. I came to my home town. I will tell you once I
reach to my work. Thanks for the support.

On Tue, 21 May, 2019, 12:29 PM Lakshya Kapoor, <notifications@github.com>
wrote:

[2019-06-14 08:48] kapoorlakshya commented on #58
Re-opening because I now understand how to make this work :)

[2019-06-14 09:01] kapoorlakshya commented on #58
Success on Windows - https://ci.appveyor.com/project/kapoorlakshya/screen-recorder/builds/25278076

Now onto Linux and macOS!

[2019-06-15 04:41] #58 closed

[2019-06-15 04:48] kapoorlakshya commented on #15
macOS - https://trac.ffmpeg.org/wiki/Capture/Desktop

Linux - https://trac.ffmpeg.org/wiki/Capture/ALSA

Windows - https://medium.com/@colten_jackson/simple-free-screen-capture-with-ffmpeg-3aeddbeb161b

[2019-09-16 02:41] Rajagopalan-M opened #79 "Errno::EAGAIN: Resource temporarily unavailable"
Yesterday I was running 1000 testcases, it failed at 254 due to the following issue. Do you any clue as to why it happened?

I have created gist out of your ffmpeg.log file

https://gist.github.com/Rajagopalan-M/28221fbe74491adcd21aa0e5e3ffefdf

[2019-09-19 04:49] Rajagopalan-M opened #80 "Recorder is not working when I upgrade to Chrome 77 version."
I have upgraded to Chrome77 version and now your recorder is not working. It throws this error

ffmpeg.log is here

[2019-09-20 09:57] kapoorlakshya commented on #79
@Rajagopalan-M Based on the logs the recording (using `ffmpeg`) is successful, but `ffprobe` which is used to gather information about the video file is failing.

Does this error occur when you stop the recorder?

[2019-09-20 10:03] Rajagopalan-M commented on #79
I am not sure about this. But I have raised another error for the new chrome which occurs when I stop the recorder. I completely convinced that this too occurs when I stop the recorder.

[2019-09-20 10:31] kapoorlakshya commented on #80
@Rajagopalan-M I don't think the Chrome version will affect the recorder. Can you share how you're providing the title to the recorder?

[2019-09-21 14:46] Rajagopalan-M commented on #80
@kapoorlakshya

This is the way I am passing the title

@recorder = ScreenRecorder::Window.new(title: ScreenRecorder::Titles.fetch('chrome').last, output: File.expand_path("Output/Video/#{scenario}/#{testCase.first + '_' + testCase[1]}.mp4"))

[2019-09-24 03:27] Rajagopalan-M commented on #80
@kapoorlakshya  Hi, any update on this? I couldn't upgrade to the newest version of Chrome because of this video recorder. Your recorder works fine in earlier version but not in the newer version.

[2019-09-24 20:15] kapoorlakshya commented on #80
Hi @Rajagopalan-M, the problem is not with Chrome or the recorder. The issue is that the recorder is attempting to start before the page in the browser is fully loaded. The actual title of the page is `AllianzGo - Google Chrome`, but the log you shared shows that the URL is being used. This tells us that the page is still loading when the recorder tries to get a handle on the browser window.

The

[2019-09-24 20:20] kapoorlakshya commented on #79
I skimmed through the code and looks like `ffprobe` is used when we stop the recorder ([this line](https://github.com/kapoorlakshya/screen-recorder/blob/master/lib/screen-recorder/common.rb#L36)). I'll try to reproduce the issue and then update the stop method to rescue `Errno::EAGAIN: Resource temporarily unavailable` and retry up to 3 times.

[2019-09-24 20:20] kapoorlakshya commented on #79
Thanks for reporting this! :)

[2019-09-25 03:33] Rajagopalan-M commented on #80
Hi, it's not happening while it starts the browser. it's happening while it closes the browser.

[code]

[2019-09-25 19:04] kapoorlakshya commented on #80
Hmm... I am unable to reproduce the issue in Chrome 77. Are you stopping the recorder after closing the window?

[2019-09-28 15:30] kapoorlakshya commented on #80
@Rajagopalan-M I think this error is definitely happening when you start the recorder. I would recommend waiting for the page to load before starting the recorder. Give it a try and let me know if you still get this error.

[2019-10-03 03:28] Rajagopalan-M commented on #80
Okay, I am in vacation now. Once I am back, let me try and let you know. I am using your gem in my framework. And I am using my framework in my many project. So when Chrome upgraded, all the people who uses my framework got this problem.

[2019-10-04 00:10] kapoorlakshya commented on #80
Sounds good! Enjoy your vacation.

[2019-10-21 04:53] #79 closed

[2019-10-21 04:55] kapoorlakshya commented on #79
Hi @Rajagopalan-M, I have released v1.3.1 with a fix for this. Give it a try and let me know if you run into any other problems.

[2019-10-21 05:06] Rajagopalan-M commented on #79
Okay

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Lakshya Kapoor <notifications@github.com>
Sent: Monday, October 21, 2019 10:25:44 AM
To: kapoorlakshya/screen-recorder <screen-recorder@noreply.github.com>
Cc: Rajagopalan M <Rajagopalan.M@sapiens.com>; Mention <mention@noreply.github.com>
Subject: Re: [kapoorlakshya/screen-recorder] Errno::EAGAIN: Resource

[2019-10-25 05:18] Rajagopalan-M commented on #80
I am back. But now another problem is, higher version of chrome has some problem. Can't even open chrome now. Once chrome people fix this problem, I will get back to you. Until then I use your recent version of gem with Chrome <75. Thanks for supporting.

[2019-10-30 23:27] aaron-humerickhouse opened #81 "Video fails to stop"
### Summary
My video file saves and is persisted.  When I try to open it, it cannot be played.

[code]
### Debug Info
Please provide the following information for bug reports:

* Operating system - macOS.
* Ruby version - 2.4.3
* Recorder parameters - `output: filename.mp4`
* Recorder log (`ffmpeg.log`)- https://gist.github.com/aaron-humerickhouse/bc62215dd70a7e70a21bc8fb5d674388
* Set `ScreenReco

[2019-11-21 04:35] Rajagopalan-M commented on #80
@kapoorlakshya Hi, I started using chrome 78 and your gem works perfectly. Thanks. Your gem is very useful for me, I have incorporated inside my framework. Videos are good to review the errors.

[2019-11-21 04:46] kapoorlakshya commented on #80
Good :)

[2019-11-21 04:46] #80 closed

[2019-11-22 03:54] Rajagopalan-M opened #82 "Broken Pipe line"
This new error is showing up now

[code]
This error is happening when I close the recorder  ` recorder.stop unless recorder.nil?`
Here is the ffmepg log

https://gist.github.com/Rajagopalan-M/fc7b4fe0de5cd2dca7936ba8c79321be

[2019-11-25 07:26] sh3p42d commented on #15
Hello! Thanks for the gem!
Is it possible to record video with audio now? I added settings to 'advanced' but got an error 'Unable to find a suitable output format for ***'. If its possible, I dont undestand where and what settings need to be set to do this. I use linux, if its important.

[2019-11-25 07:44] kapoorlakshya commented on #15
Hi @sh3p42d, can you share the advanced configs (code for it) that you have tried? There is an example showing the audio configs on Linux over here: https://trac.ffmpeg.org/wiki/Capture/Desktop

I'll look into updating the gem with this feature very soon.

[2019-11-25 08:25] sh3p42d commented on #15
Thank you for efficiency.
I want to run this command "ffmpeg -video_size 1024x768 -framerate 25 -f x11grab -i :0.0+100,200 -f pulse -ac 2 -i default output.mp4"

This is my configs:
[code]

How can i set the advanced configs for '-f pulse -ac 2 -i default'? Every time I got 'Unable to find a suitable output format for'.

[2019-11-28 00:29] kapoorlakshya commented on #15
@sh3p42d I just pushed some code which will allow you to record audio with the following configs:

[code]

You can test it in your current project by adding this to your `Gemfile`:

[code]

And you don't need to provide an `input` value if you're not using multiple screens. The default is set to `:0` which should work on most systems. You can check your input number by executing `echo $DISPLAY` in

[2019-12-05 00:39] kapoorlakshya commented on #81
Hey @aaron-humerickhouse, thanks for the detailed bug report. The logs are showing that `ffmpeg` is failing to stop normally for some reason. As a result, the gem is force killing it to avoid having a zombie process. This ultimately is causing the unplayable video.

[code]

Now we need to figure out why `ffmpeg` is not stopping normally, and for that I looked at the `ffmpeg.log` and found out that

[2019-12-05 00:49] kapoorlakshya commented on #82
Hey @Rajagopalan-M, the video recording itself is successful based on the `ffmpeg` log. I'll need the debug log from the gem to properly troubleshoot this.

[2019-12-05 03:29] kapoorlakshya commented on #15
I have pushed some more code to properly support and document the configs for capturing audio: https://github.com/kapoorlakshya/screen-recorder/compare/15_capture_audio

Will merge it after testing it on Windows and macOS over the weekend.

[2019-12-06 05:43] Rajagopalan-M commented on #82
@kapoorlakshya Okay, this error is not happening right now. If it happens again, I will let you know. And I use your recorder while I do parallel run, it is not recording properly. Video records the first page and stops there and after few minutes it catches other pages. This recorder can't be used for parallel run?

[2019-12-09 06:43] kapoorlakshya commented on #82
@Rajagopalan-M I have not tested the gem for parallel test executions.

That's probably because `ffmpeg` is probably focusing on the new window with the same title. It's just something that `ffmpeg` is designed to do I guess. I can't think of a solution that I can implement in the gem to change that behavior.

[2019-12-09 06:47] Rajagopalan-M commented on #82
@kapoorlakshya

Sure, thanks.

[2019-12-09 08:38] kapoorlakshya commented on #82
I'm closing this for now, but feel free to revive it when you have more information.

[2019-12-09 08:38] #82 closed

[2019-12-28 01:10] kapoorlakshya commented on #81
@aaron-humerickhouse I was able to reproduce and actually fix the issue by passing `vsync 0` for the input on macOS:

[code]

Feel free to reopen this issue if that doesn't work for you.

[2019-12-28 01:10] #81 closed

[2020-01-20 04:33] Rajagopalan-M opened #83 "Recording more than one window"

[2020-01-22 05:43] kapoorlakshya commented on #83
@Rajagopalan-M Can you share more of your code so I can reproduce this locally?

[2020-01-22 05:48] Rajagopalan-M commented on #83
@kapoorlakshya

Hi, it's simple, Just run the automation in 5 browser simultanously and record all the window, this happens. For an example,

[2020-01-22 05:54] kapoorlakshya commented on #83
@Rajagopalan-M Thanks!

Do you have a different output file for each of the browser sessions?

[2020-01-22 05:58] kapoorlakshya commented on #15
Closed by 1ba5e556bcb0b90f6525cdc845667543c02c79ee.

[2020-01-22 05:58] #15 closed

[2020-01-22 05:58] Rajagopalan-M commented on #83
Yes, 5 browsers are being recorded at the same time and it saves 5 files. If you still want an perfect example, I will automate my electricity bill payment flow and give you for your reference. Your video recording software perfectly works for sequential execution but it is parallel execution. If you include this option, then it would be great.

[2020-01-22 06:11] kapoorlakshya commented on #83
Yeah, it'll be nice to record parallel test executions.

Can you explain the following behavior a bit more?

[2020-01-22 06:13] Rajagopalan-M commented on #83
Video is moving but you can see only the first page in the video and after such a long time, suddenly last page shows up and then video ends there.

[2020-01-22 08:18] kapoorlakshya commented on #83
Got it. I have an idea how to implement support for this, but will need to experiment before I can promise anything.

[2020-01-22 10:31] Rajagopalan-M commented on #83
sure thing! Thank you very much for taking this forward

[2020-01-23 03:17] Rajagopalan-M opened #84 "Setting up a path to `ScreenRecorder.ffmpeg_binary =` fails"
I have created my own video recorder folder inside my project and gave that path in my program like

`
ScreenRecorder.ffmpeg_binary = "C:\\A\\RubyAutomation\\VideoRecorder\\ffmpeg.exe"`

But it fails.

[2020-01-24 05:51] Rajagopalan-M opened #85 "Error when I try to install screenrecorder"
When I try install screenrecorder, it is throwing the following error, My ruby version is 2.6.5
[code]

[2020-01-24 05:59] kapoorlakshya commented on #85
Do you have a version for `childprocess` gem defined (locked) in your `Gemfile`? A simple `bundle update` should work otherwise.

[2020-01-24 06:02] kapoorlakshya commented on #84
Can you please use the issue template and give me a proper error message or explain the actual behavior? At this point I can only guess what is happening.

[2020-01-24 06:07] Rajagopalan-M commented on #84
There is no error message, But your two statement of setting up the the path and opening the recorder is disconnected. Just write the following line

[code]

The first line is no way connected to the second line. No matter wherever you set up the path, it only picks up from what you set in the environmental variable. It's not changing the path while you are setting it.

[2020-01-24 06:08] Rajagopalan-M commented on #85
I don't have any gem file here, I install gem using the command `gem install screen-recorder` and it gives me the above error, I installed childprocess-1.0.1 after uninstalling 3.0 but it still throws the error.

[2020-01-24 06:22] kapoorlakshya commented on #84
Which `screen-recorder` version are you using? And is there a reason why you have the path set in both ENV and `ScreenRecorder.ffmpeg_binary`? Either one should work.

Anyway, this is working for me as expected in v1.3.1:

[code]

If you look at the code below, you'll notice that the gem is designed to use whatever binary location `ScreenRecorder.ffmpeg_binary` returns. And it will only look in EN

[2020-01-24 06:24] kapoorlakshya commented on #85
`childprocess` 1.x is no longer needed. Try this:

1. Uninstall all versions of `childprocess` and `screen-recorder`
2. Run `gem install screen-recorder`. This will get you the latest version.

[2020-01-24 06:28] Rajagopalan-M commented on #85
Hi, It's getting installed.

![image](https://user-images.githubusercontent.com/31696622/73048929-c213fa00-3ea0-11ea-8e2d-2c0bcf923f08.png)

But while I am running, it's throwing the following error.

[code]

[2020-01-24 06:34] Rajagopalan-M commented on #84
Setting up here `ScreenRecorder.ffmpeg_binary =` here returned correctly from `ScreenRecorder.ffmpeg_binary` But the actual recorder which is used from what's set on the environmental variable. Now I have removed the path from the environmental variable and you could see the following error is thrown
[code]

[2020-01-24 06:44] kapoorlakshya commented on #85
What does the following command return?

[code]

[2020-01-24 06:45] Rajagopalan-M commented on #85
It returns
![image](https://user-images.githubusercontent.com/31696622/73049656-3780ca00-3ea3-11ea-9fa0-1a0895054033.png)

[2020-01-24 06:56] kapoorlakshya commented on #84
Hmm... thanks for that information. Looks like a valid bug.

I'll look into it this tomorrow.

[2020-01-24 06:57] Rajagopalan-M commented on #84
Thank you very much.

[2020-01-24 07:05] kapoorlakshya commented on #85
Oh it's because you're using `selenium-webdriver` 3.142.3 which still requires `childprocess` < v2.

I'll relax the `childprocess` requirement to be `>= 1.0, < 4.0` in the next `screen-recorder` release, but I would recommend using the latest Selenium (and `childprocess`) release if you can.

[2020-01-26 09:51] #84 closed

[2020-01-28 04:39] #85 closed

[2020-01-28 04:40] Rajagopalan-M commented on #85
Recent version of selenium has this problem and that's why I couldn't go there

https://github.com/SeleniumHQ/selenium/issues/7917

[2020-01-28 04:41] Rajagopalan-M commented on #84
Oh I think you seems to have fixed this, thanks. Let you know once after I check it.

[2020-01-28 05:14] kapoorlakshya opened #86 "Improve code coverage"
Try to get coverage > 90%

[2020-01-28 07:01] #44 closed

[2020-01-28 08:31] kapoorlakshya commented on #84
I have released v1.4.0 with fix for this and #85. You can read the changelog [here](https://github.com/kapoorlakshya/screen-recorder/blob/master/CHANGELOG.md).

Let me know if you run into any other issues.

[2020-02-20 03:02] Rajagopalan-M opened #87 "How to redirect the log into the required folder?"
There is a file named ffmepg.log is created in my root folder but I want to move this file into another folder, can I set up the path for this file like we can set up the path for watir.log file as `Watir.logger.output = 'AppData/Logs/watir.log'` ?

[2020-02-20 03:27] kapoorlakshya commented on #87
Yes, see the log parameter in the Advanced Options section of the readme.

[2020-02-20 03:32] kapoorlakshya commented on #87
Oops... Accidentally closed this. I'll close this ticket once you confirm it works.

[2020-02-20 03:33] Rajagopalan-M commented on #87
You have given this

[code]
But I am asking how to set up the path for ffmpeg.log file?

[2020-02-20 03:38] kapoorlakshya commented on #87
That's the wrong section. Look one section above titled "Advanced Options" - https://github.com/kapoorlakshya/screen-recorder/blob/master/README.md#advanced-options

Specifically the `log` key in the example.

[2020-02-20 03:41] Rajagopalan-M commented on #87
So I can write this

[code]

[2020-02-20 03:50] Rajagopalan-M commented on #87
Beautiful, it works fine. Thanks. You close this issue now.

[2020-02-20 04:02] kapoorlakshya commented on #87
Great!

[2020-02-20 04:02] #87 closed

[2020-05-08 14:38] Vito300187 opened #88 "AVFoundation input device @ 0x7f95d350a000] Configuration of video device failed, falling back to default."
### Summary
AVFoundation input device @ 0x7f95d350a000] Configuration of video device failed, falling back to default.

### Debug Info
I am trying to run tests with notes, but as I see it, the problem is in an undefined video device. How to determine?

* Operating system - macOS.
* Ruby 2.7.0
* screen-recorder version - ffmpeg version 4.2.2
* Recorder parameters - input, output, etc.
[code]
* Set

[2020-05-11 04:57] kapoorlakshya commented on #88
@Vito300187 Thanks for the bug report. I'm able to reproduce the error on macOS, but haven't had time to figure out the root cause.

I'll look into it further in the coming days.

[2020-05-14 22:57] kapoorlakshya commented on #88
@Vito300187 Can you give it another try? I am unable to reproduce the issue today on the same Macbook using the exact same ffmpeg version 4.2.2, and the unit tests pass as well. It's weird... I am still seeing the following warning in the log, but ffmpeg continues with the `default` device, whatever that is:

[code]

The resulting file is playable in VLC as well.

[2020-05-15 09:40] Vito300187 commented on #88
@kapoorlakshya I understand the problem. In the mac os catalina system, you need to play with the rights for terminals -
# Goto System Preferences (Apple sign on top left corner, then menu item System Preferences...), click on the
# Security & Privacy item, then on the Privacy tab.
# If the Terminal app is listed and is unchecked, click the checkbox, then restart Terminal.app. or Rubymine

I fixed

[2020-09-10 14:07] Rajagopalan-M opened #89 "Trying to record the output audio along with video"
I want to record the output audio which comes out of the speaker, but I don't know how to do it. There are the recorders are available in my machine.

I ran this comment `ffmpeg -list_devices true -f dshow -i dummy` and found the following devices

I have tried for microphone first, but it is saying file format is wrong, I used for MP4 AND WMV but both are throwing the same error. Here is the code

[2020-09-11 09:30] #89 closed

[2020-09-11 09:32] Rajagopalan-M opened #90 "MP4 videos are not including the audios but wmv files are including."
I am trying to include the voice out in your video recording, it's working for wmv files but it's not including the voice for mp4 files. But wmv files are not clear to see on the other hand mp4 videos are very clear to see. I am getting this error

The code I have written

[code]

![image](https://user-images.githubusercontent.com/31696622/92903411-b2e9b880-f43f-11ea-83ff-49424f1ec713.png)

[2020-09-11 10:40] Rajagopalan-M opened #91 "Stopping the recorder closes the Browser"
Stopping the recorder closes the browser.

`@recorder.close`

closes the browser.

[2020-09-13 00:18] kapoorlakshya commented on #91
@Rajagopalan-M Hmm... that's strange. There is no `#close` method, just `#stop` to stop recording.

And stopping the recording should not close the browser. In fact, it's the opposite - the recording will stop automatically if the browser (source window) is closed.

[2020-09-13 00:21] kapoorlakshya commented on #90
What are you using to play the MP4 file? That error is simply complaining that playback of the file is not supported. Please try a different video player, like VLC.

[2020-09-13 18:08] Rajagopalan-M commented on #91
Hi, Nope, I am using @recorder.stop not @recorder.close. It's throwing the following error when I execute @recorder.stop

"the ffprobe binary could not be found" error is happening because I am giving setting up the path using this line "ScreenRecorder.ffmpeg_binary = File.expand_path('C:\A\RubyAutomation_POM\VideoRecorder\ffmpeg.exe')" So I am not setting anything in the enviromental variable. So

[2020-09-13 18:24] Rajagopalan-M commented on #90
window media player I used and also I used VLC, In the case of VLC, it's not running the video and also it's not even showing any error message. Can you try once recording in your system whether it works for you?

[2020-09-14 02:59] kapoorlakshya commented on #91
Ah, yeah, `ffprobe` is used to collected the file metadata when the recorder is stopped. You can pass a custom path for `ffprobe` like this:

[code]

[2020-09-14 03:43] kapoorlakshya commented on #90
Yeah, I'll give it a try. Meanwhile, can you please share the output from `@recorder.video` after stopping the recorder? I am interested in the info (metadata) for the audio track specifically.

[2020-09-16 04:36] Rajagopalan-M commented on #91
That's great! thanks.

[2020-09-23 15:16] Rajagopalan-M commented on #90
Hi, for me .mkv records the audio as well. That satisfy my need. Can you try recording .MP4 ?

[2020-09-26 07:32] phil-l-brockwell opened #92 "Current timestamp of recording"
### Summary
A instance method on the ScreenRecorder::Desktop instance which returns the current timestamp of the recording in process.

I'm not that familiar with ffmpeg so I'm not sure how easy this would be to implement, however, with a nod in the right direction I would be happy to contribute and open a PR.

[2020-09-28 04:52] kapoorlakshya commented on #92
@phil-l-brockwell I am not seeing a way to retrieve the current timestamp from `ffmpeg` itself for the recording in process. However, you could start your own timer right after starting the recorder and then use that to get somewhat accurate timestamps. Check out the [`stop_watch`](https://github.com/danielpclark/stop_watch) gem for this. Alternatively, there is a way to [print the timestamp on th

[2020-09-28 04:54] kapoorlakshya commented on #90
@Rajagopalan-M Sorry, haven't had a chance to test a MP4 file on Windows. Can you please use [`mediainfo`](https://mediaarea.net/en/MediaInfo) and share the info that it provides for both the MKV and MP4 files. That metadata comparison might be helpful in debugging this.

[2020-09-28 16:55] phil-l-brockwell commented on #92
Thanks for getting back to me @kapoorlakshya

I'm recording a video and noting specific points during the video then retrospectively adding audio etc.

I have tried to use a timer as you suggested but it isn't accurate enough and putting the timestamp on the finished video wouldn't fit the use case. I think their is some lag in between the ffmpeg process beginning and when recording begins.

[2020-09-29 03:12] kapoorlakshya commented on #92
Is this audio an external track, like music or voice-over, or audio out from the system? Asking to see if we can capture audio in the recording ([instructions](https://github.com/kapoorlakshya/screen-recorder#capture-audio])).

Yeah, `ffmpeg` takes 1-1.5 seconds on a cold start, which why I had to hardcode a 1.5s delay in [`#start`](https://github.com/kapoorlakshya/screen-recorder/blob/master/lib/

[2020-09-29 04:31] kapoorlakshya commented on #90
@Rajagopalan-M I just did an audio capture test with MP4 and it worked for me using `'audio="Microphone (Realtek High Definition Audio)"'` on Windows 10. I notice you are using `'audio="virtual-audio-capturer"'`, but I am not sure what exactly that is. Is it https://github.com/rdp/virtual-audio-capture-grabber-device? And which Windows version are you on?

Note: Please use the Issue template next

[2020-09-29 04:36] Rajagopalan-M commented on #90
Hi, Thanks for replying. I don't want to input audio to record. I want to record the audio which comes out of the speaker. Microphone is to input the audio , yes?

[2020-09-29 05:15] kapoorlakshya commented on #90
@Rajagopalan-M Yes, I understand that. I'm just saying that audio recording (with any input source) is working with MP4 files for me. I am not sure what's wrong with your setup which is causing only MP4 files to not have audio.

Please read through my comment(s) and answer the questions I have asked you so I can better reproduce and troubleshoot this issue.

[2020-09-29 05:21] #91 closed

[2020-09-29 05:25] kapoorlakshya commented on #91
`ScreenRecorder.ffprobe_binary` setter and getter methods will soon be available in version 1.4.1.

[2020-09-29 05:35] Rajagopalan-M commented on #90
Hi, You asked me the details of `recorder.video`, Here it is for .mkv. I will post the one for MP4 next.
[
#<FFMPEG::Movie:0x05e499b8 @path="C:/A/RubyAutomation_POM_VoiceVideo/Output/Video/TS1-PolicyCreation/Contactcreation_Test1.mkv", @metadata={:streams=>[{:index=>0, :codec_name=>"h264", :codec_long_name=>"H.264 / AVC / MPEG-4 AVC / MPEG-4 part 10", :profile=>"High", :codec_type=>"video", :codec

[2020-09-29 05:55] Rajagopalan-M commented on #90
Hi, here is the video for MP4. But wanted to tell you, now video is running properly with voice. I think that day I haven't closed the video properly. But you asked me about `virtual-audio-capturer`, I actually ran your comment `ffmpeg -list_devices true -f dshow -i dummy` so it displays the following, from that list which got displayed, I picked up `virtual-audio-capturer`. May I know what you ar

[2020-09-29 05:59] Rajagopalan-M commented on #90
@kapoorlakshya Hi, I just wanted to tell you, In my company, we are going to use this gem to prepare the training video material. This gem is of great use now! Thank you so much.

[2020-09-29 06:05] kapoorlakshya commented on #90
@Rajagopalan-M Thank you for all the information. It's helpful!

Are you now able to record audio for MP4 files then? Based on the output from `@recorder.video`, the MP4 file does have two audio tracks in it. Please confirm if it's working now or not.

My test was using the microphone only. Looks like you have [screen-capture-recorder-to-video-windows-free](https://github.com/rdp/screen-capture-re

[2020-09-29 06:17] Rajagopalan-M commented on #90
Works like a charm! thanks.

Actually in my case, recently I installed shareX. It was choosing that virtual recorder, so I have chosen as well. I don't know whether shareX has installed this software because it was installing ffmpeg automatically.

All Thanks goes to you for such a beautiful gem!

[2020-09-29 06:19] kapoorlakshya commented on #90
Perfect! I'll go ahead and close this issue then.

[2020-09-29 06:19] #90 closed

[2020-09-29 06:27] Rajagopalan-M commented on #90
Yes, thank you

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Lakshya Kapoor <notifications@github.com>
Sent: Tuesday, September 29, 2020 11:50:04 AM
To: kapoorlakshya/screen-recorder <screen-recorder@noreply.github.com>
Cc: Rajagopalan M <Rajagopalan.M@sapiens.com>; Mention <mention@noreply.github.com>
Subject: Re: [kapoorlakshya/screen-recorder] MP4 videos

[2020-09-29 07:27] phil-l-brockwell commented on #92
It's an external track, and at some point I want to make it variable/interchangeable so it has to be done after the filming and accurately.

I did notice the 1.5s delay actually and tried to compensate by adding a delay to the timer, this definitely produces a more accurate result but not precise enough. I wonder if their is a way to ensure the delay of starting ffmpeg is always a fixed time?

[2020-09-29 07:38] kapoorlakshya commented on #92
Ah, got it!

Hmm... I am not sure if that's possible to control in the gem code since the delay is from `ffmpeg` itself. My hard coded delay is just a naive way to make sure the next lines of code (after initializing the recorder) are only executed once ffmpeg is ready and has begun recording.

This is an interesting use case that I had not consider when creating this gem. The only use case I had

[2020-09-30 08:16] phil-l-brockwell commented on #92
Anytime you can spend is massively appreciated, you've been really helpful this far, as I said previously, I will be happy to work on a solution/pr I just need a little help in the right direction.

Unfortunately I'm working confidentially with a client and I can't really go into any more detail, but I will keep you posted

[2020-10-01 06:50] kapoorlakshya commented on #92
The only approach I can think of right now is to embed the [`stop_watch`](https://github.com/danielpclark/stop_watch) gem and expose the `StopWatch::Timer` object (ex: `@recorder.timer`) and call `timer.mark` in [`#start_ffmpeg`](https://github.com/kapoorlakshya/screen-recorder/blob/master/lib/screen-recorder/common.rb#L72) right before and after spawning the `ffmpeg` process. This will record the

[2020-10-01 12:31] phil-l-brockwell commented on #92
Interesting idea, I'm not sure if I fully understand it though. So you would use the two timestamps to work out the lag between calling ffmpeg and it actually starting it then subtract this from any subsequent timestamps?

[2020-10-01 21:10] kapoorlakshya commented on #92
@phil-l-brockwell Yeah, that's what I am thinking.

Another idea, based on printing the timestamps in the video, is to:

1.  Add a white/black bar at the bottom of the video using the `pad` filter ([instructions](https://superuser.com/questions/690021/video-padding-using-ffmpeg/690211))
2. Print the timestamp in the bar using the `x,y` coordinates of the `drawtext` filter ([instructions](https://s

[2020-12-11 09:25] Rajagopalan-M opened #93 "TaskBar is getting recorded while I am doing Desktop recording."
When I choose the record the Desktop, recording video includes the Task Bar as well. Is there anyway to exclude the task bar?

[2020-12-12 00:13] kapoorlakshya commented on #93
The `desktop` mode records everything that is displayed on your monitor, including the taskbar. Try cropping out the taskbar by setting the `offset_x` and `offset_y` in the `advanced` configs. See examples [here](https://github.com/kapoorlakshya/screen-recorder/wiki/Multi-monitor-Capture#microsoft-windows-gdigrab) and [here](https://video.stackexchange.com/questions/22000/how-can-i-crop-part-of-a-

[2020-12-17 04:55] Rajagopalan-M commented on #93
Okay, thanks.

[2020-12-17 05:56] #93 closed

[2020-12-31 22:30] kapoorlakshya commented on #92
Hey @phil-l-brockwell, any updates? If not then I would like to close this ticket.

[2021-01-13 04:23] #92 closed

[2021-02-24 21:13] nerrante opened #95 "Possible issue with recording on remote desktop with no display?"
### Summary
I am guessing to the cause of the problem but I could be wrong. I'm trying to record my automated testing using your screen-recorder gem. It works awesome when I run it locally on my computer.  But I run my test runs normally on a remote machine (by ssh-ing in) that has no display. I'm wondering if the "no display" is causing my issue and perhaps there is some advanced setting I can ch

[2021-02-27 04:41] kapoorlakshya commented on #95
@nerrante You mentioned ssh-ing in to run the tests, but the OS listed in the debug info is Windows. Are you using WSL or OpenSSH on Windows to ssh in or are the tests running on Linux?

Just in case, if the error is happening on Linux or WSL, you can use [xvfb](https://www.x.org/releases/X11R7.6/doc/man/man1/Xvfb.1.xhtml) to spin up a virtual screen and then follow the instructions in this [wiki]

[2021-03-03 18:07] nerrante commented on #95
Hi @kapoorlakshya , the tests are running on Windows. It has Cygwin installed on it, which gives it a Unix-like layer to give access to more tools and functionality (including SSH).

[2021-03-04 05:40] kapoorlakshya commented on #95
Ah okay. Well, cygwin not directly supported, but if you can get xvfb to run then that should allow you to record the video.

[2021-03-04 18:46] nerrante commented on #95
I will give that a try, thanks @kapoorlakshya!

[2021-03-04 18:46] #95 closed

[2021-03-18 21:50] hlascelles opened #96 "Relax os gem version specificity from patch to minor"
### Summary
The version specification for `os` is quite tight: `spec.add_runtime_dependency 'os', '~> 1.0.0'`
Can we relax it to `spec.add_runtime_dependency 'os', '~> 1.0'`?
We have other projects that have gems that use `1.1.x`.

[2021-03-18 22:09] kapoorlakshya commented on #96
@hlascelles Sure, that should work. Would you mind submitting a PR?

[2021-03-18 22:23] hlascelles commented on #96
Yep, sure thing!

[2021-03-18 23:39] #86 closed

[2021-03-19 20:03] hlascelles commented on #96
Opened.

[2021-03-19 20:03] #96 closed

[2021-03-24 05:55] kapoorlakshya commented on #96
v1.5.0 has been released!

[2021-03-27 01:25] weefunker opened #98 "Linux chromewebdriver only records top left hand corner of the screen"
Only the top left-hand portion of the screen is being recorded on Ubuntu 18.04

Here is a screenshot of the output

https://imgur.com/Me5iMBy

Apologies in advance if I am missing something really obvious but I have done a lot of digging and tinkering but could not get it to record more than the top left hand side of the desktop

I am running two monitors, though I did test by turning one of them

[2021-03-29 00:03] weefunker commented on #98
![image](https://user-images.githubusercontent.com/11152927/112772742-758af800-902a-11eb-8318-1cafef2cf3cb.png)

Dumb dumb, pasted image of screen instead of the output on imgur

[2021-03-29 15:43] kapoorlakshya commented on #98
@weefunker Could you please copy-paste lines 7-20 (recorder config) here? Will need it to reproduce the issue. Thanks!

[2021-03-30 10:50] jozefvaclavik commented on #98
Maybe its related, but for me on ubuntu 20 with xvfb it was recording only 640x480 resolution. It got resolved by setting `advanced: { input: { video_size: '1280x1024' } }`. After that it's recording full screen (1280x1024).

For me screenshot is still taken with 640x480.

Here is my configuration
[code]

[2021-03-30 15:46] weefunker commented on #98
Thank you buddy that solved it

[2021-04-02 03:11] kapoorlakshya commented on #98
@jozefvaclavik That's interesting! Do you know if this happen with xvfb only?

[2021-05-21 17:20] jozefvaclavik commented on #98
@kapoorlakshya I have some more details about the screenshot issue. `advanced: { input: { video_size: '' } }` is not passed to the screenshot command.

[code]

The `ffmpeg_command` uses `@options.parsed`, but `screenshot_cmd` does not. `screenshot_cmd` uses specific options. I did some debugging on our staging with monkeypatching these methods. First I tried to add `@options.parsed` to screenshot

[2021-05-30 23:28] kapoorlakshya commented on #98
@jozefvaclavik Thanks for the detailed info. I am thinking of adding an optional `resolution` arg to `#screenshot`:

* Case 1: Allows used to specify a screenshot resolution
  * `@recorder.screenshot(filename: 'test.png', resolution: '1920x1080')`
* Case 2: If nothing is provided, and video recording is in progress, it retrieves the resolution from `advanced -> video_size` if it's available. This

[2021-05-31 07:41] jozefvaclavik commented on #98
@kapoorlakshya sounds good to me.

Specifying resolution may later lead towards specifying position as well. For example take 300x400 screenshot at 1000x500. In my case just the resolution is enough. Thanks!

[2021-07-26 07:37] Rajagopalan-M opened #99 "Problem while I try to run screen recorder"
Last time I raised the same problem here

https://github.com/kapoorlakshya/screen-recorder/issues/85

But you have relaxed between 1 and 4 but right now, it's 4.1 so this problem shows up

Here is the error

[code]

[2021-08-10 07:09] kapoorlakshya commented on #99
This should get fixed in the next release. Will relax `childprocess` requirement so v4 can be used.

[2021-08-10 07:13] kapoorlakshya commented on #98
@jozefvaclavik Just got a chance to work on this. Not sure why, but the resolution arg is not working  ([test fails](https://github.com/kapoorlakshya/screen-recorder/runs/3288258432?check_suite_focus=true)) on macOS even though `avfoundation` (mac codec) supports it (see [Options](https://ffmpeg.org/ffmpeg-devices.html#avfoundation)). Seems to work fine on Linux and Windows though.

I'll try to sp

[2021-08-10 07:20] Rajagopalan-M commented on #99
Thanks.

[2021-08-10 07:25] kapoorlakshya commented on #98
Just learned that `-s '1024x768'` is what works on macOS, but not on Windows ([test failure](https://github.com/kapoorlakshya/screen-recorder/runs/3288351179?check_suite_focus=true)). Windows wants `-video_size` instead... Will share an update soon.

[2021-08-23 05:27] kapoorlakshya commented on #98
Just v1.6.0 with support for screenshot resolution.

[2021-08-23 05:27] #98 closed

[2021-08-23 05:27] kapoorlakshya commented on #99
Just released v1.6.0 with support for `childprocess` v4.

[2021-08-23 05:27] #99 closed

[2021-08-23 05:34] Rajagopalan-M commented on #99
@kapoorlakshya Thank you very much.

[2021-10-22 15:32] alicescfernandes opened #100 "Unable to set ffmpeg options"
### Summary
I'm unable to set ffmpeg options
![image](https://user-images.githubusercontent.com/15971182/138482223-bc1effda-4c41-409f-955d-dfa76f065f8d.png)
Not sure if i'm doing correctly, but this seems not be working

[code]

### Debug Info
Please provide the following information for bug reports:

* Operating system - Linux (Docker)
* Ruby version: 2.5.1p57
* screen-recorder version: 1.6.0
* R

[2021-11-10 00:37] kapoorlakshya commented on #100
@alicescfernandes Thanks for reporting this! I am able to reproduce it; will get a fix out very soon.

[2022-01-21 04:54] kapoorlakshya commented on #100
@alicescfernandes Which version of `ffmpeg` are you using? I am using 4.2.4 and `depth` is not a recognized option. Using `sample_fmt` to set the depth works though:

[code]

Can you give this a try and report back?

[2022-02-03 05:05] kapoorlakshya commented on #100
@alicescfernandes Closing due to lack of response. Feel free to comment here if we need to reopen this.

[2022-02-03 05:05] #100 closed

[2022-09-28 11:02] alexhaha123 commented on #88
thanks, i fixed the problem use your method!